<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>创建任务</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/layui-v2.8.17/layui/css/layui.css}"/>
    <script type="text/javascript" th:src="@{/layui-v2.8.17/layui/layui.js}"></script>

    <style>
        table{
            border-collapse: collapse;
        }
        td, th{
            border: 1px solid;
        }
        .luta-container {width: 900px; margin: 21px auto 0;}
        .luta-border {border: solid 1px #e2e2e2;}
        .luta-border-right {border-right: solid 1px #e2e2e2;}
        .luta-border-left {border-left: solid 1px #e2e2e2;}
        .luta-right-margin { margin-right: 50px;}
        .luta-right-padding { padding-right: 50px;}
    </style>
</head>
<body>

<div class="luta-container">
    <form class="layui-form" action="/console/task/create" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="font-weight: bolder">任务名称</span><span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="description" placeholder="(可选)" class="layui-textarea"></textarea>
            </div>
        </div>
        <hr>
        <span style="font-weight: bolder">&nbsp;&nbsp;MySQL Binlog信息</span>
        <hr>
        <div class="layui-form-item">
            <label class="layui-form-label">MySQL驱动类名<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <select name="srcDriverClassName">
                    <option value="com.mysql.cj.jdbc.Driver" selected>8.0以上版本 : com.mysql.cj.jdbc.Driver</option>
                    <option value="com.mysql.jdbc.Driver">5.6和5.7版本 : com.mysql.jdbc.Driver</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">IP/域名<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="srcHost"  placeholder="（例如: 192.168.11.5）" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">端口<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="srcPort"  placeholder="（例如：3306）" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="srcUsername" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="password" name="srcPassword" lay-verify="required" placeholder="请输入" autocomplete="off" lay-affix="eye" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Binlog文件名<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="srcBinlogFilename" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Binlog文件NextPosition<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="srcBinlogNextPosition" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">远端MySQL时区<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <select id="remoteMysqlTimezone" name="remoteMysqlTimezone" lay-verify="" lay-search>
                    <option th:each="timezone: ${availableTimezoneIDs}"
                            th:value="${timezone}" th:text="${timezone}"
                            th:selected="${remoteMysqlTimezone==timezone}"></option>
                </select>
            </div>
        </div>
        <hr>
        <span style="font-weight: bolder">输出到：RabbitMQ信息</span>
        <hr>
        <div class="layui-form-item">
            <label class="layui-form-label">IP/域名<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="dstHost" lay-verify="required" placeholder="（例如: 192.168.11.10）" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">端口<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="dstPort" lay-verify="required" placeholder="（例如: 5672）" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">vhost<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="dstVhost" lay-verify="required" placeholder="（例如: /cmp）" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="dstUsername" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <div class="layui-input-prefix">必填</div>
                <input type="password" name="dstPassword" lay-verify="required" placeholder="请输入" autocomplete="off" lay-affix="eye" class="layui-input">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Exchange<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="dstTopicName" lay-verify="required" placeholder="（例如: cmp2pr.mysql.binlog.channel）" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">RoutingKey</label>
            <div class="layui-input-block">
                <input type="text" name="dstRoutingKey" placeholder="（可选，默认为空）" autocomplete="off" class="layui-input">
            </div>
        </div>

        <hr>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit>立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>


</div>


</body>

<script>

var select_remote_mysql_timezone = document.querySelector('#remoteMysqlTimezone');
if (select_remote_mysql_timezone != null) select_remote_mysql_timezone.value = "UTC";

</script>

</html>